*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background-color: rgb(248,248,248);
    position: relative;
}

.body{
    width: 100%;
}

nav{
    position: absolute;
    top: 0;
    display: flex;
    height: 100px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: #fff;
    width: 100%;
}

nav .img{
    flex: 1;
}

nav button{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: #fff;
    background-color: rgb(239,49,55);
    color: #fff;
    display: block;
}

nav button:hover{
    color: #000;
}

.content ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content ul li{
    list-style-type: none;
}

.content ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin: 0px 10px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.content ul li a:hover{
    color: aqua;
}

.content ul li a:hover::after{
    content: '';
    position: absolute;
    width: 0%;
    left: 5%;
    bottom: -5px;
    height: 3px;
    background-color: aqua;
    border-radius: 10px;
    animation: anim  0.3s linear forwards;
}

@keyframes anim{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

.content{
    margin: 50px auto 50px;
    width: 70%;
}

.content h1{
    text-align: center;
}

.content h1 span{
    color: rgb(239,49,55);
}

.hover span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 18px;
}

.hover span div{
    width: 150px;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.hover span div:hover{
    background-color: #000;
    color: #fff;
    box-shadow: 5px 5px 0px aqua;
}

.active{
    background-color: #000;
    color: #fff;
    box-shadow: 5px 5px 0px aqua;
}

#overview, #AboutSchool{
    font-size: 18px;
    padding: 30px;
    text-align: justify;
    border: 1px solid #000;
}

#AboutSchool{
    display: none;
}

.faq{
    width: 70%;
    margin: 20px auto 50px;
}

.faq h1{
    margin-left: 20px;
    margin-bottom: 30px;
}

.accordion-item{
    border: 1px solid #000;
}

.accordion-button.collapsed:hover{
    background-color: rgb(0,174,242);
    color: #fff;
}

.accordion-body{
    background-color: rgb(0,174,242);
    color: #fff;
}

.foot{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    background-color: rgb(34,34,34);
    color: #fff;
    justify-content: center;
}

.foot ul li a:hover{
    color: #fff;
}

.foot-school{
    width: 30%;
    margin: 10px 30px 30px 10px;
    text-align: center;
    width: 40%;
}

.foot-school h3{
    font-size: 40px;
    color: rgb(245,54,71);
    margin-top: 20px;
}

.foot-school p{
    font-size: 18px;
}

.foot-links{
    margin: 50px 30px;
}

.foot-links ul li{
    list-style-type: none;
}

.foot-links ul li a{
    text-decoration: none;
    color: rgb(129,140,149);
    font-size: 15px;
}

.foot-about{
    margin: 50px 30px;
}

.foot-about ul li{
    list-style-type: none;
}

.foot-about ul li a{
    text-decoration: none;
    color: rgb(129,140,149);
    font-size: 15px;
}

.parents{
    width: 70%;
    margin: 50px auto 20px;
}

.parents .abs{
    font-size: 18px;
    color: rgb(129,140,149);
    position: relative;
}

.parents .abs::after{
    content: '';
    width: 10%;
    height: 3px;
    background-color: rgb(129,140,149);
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 20px;
}

.parent{
    margin: 50px auto 30px;
    width: 70%;
    text-align: center;
    font-size: 18px;
}

.parent h4{
    text-align: center;
}